@model List<BlockChainSI.Models.StabilityChartViewModel>

<div>
    <form action="@Url.Action("Save","Stability")" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close ×</button>
            <h4 class="modal-title" id="myModalLabel">Product Stability Info</h4>
        </div>
        <div>
            <table class="table tblStabilityInfo">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().TempRange)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AllowedTimeInMinutes)
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @for (int i = 0; i < Model.Count(); i++)
            {
                    <tr>
                        <td>
                            @Html.DropDownListFor(modelItem => modelItem[i].TempRange.TempRangeId, (SelectList)ViewBag.TempRangesList, "-- Select --", new { @class = "form-control" })
                            @Html.HiddenFor(modelItem => modelItem[i].TempRange.TempRangeId)
                        </td>
                        <td>
                            @Html.TextBoxFor(modelItem => modelItem[i].AllowedTimeInMinutes, new { @class = "form-control" })
                            @Html.HiddenFor(modelItem => modelItem[i].StabilityId)
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="deleteStabilityLink" data-id="@Model[i].StabilityId"> - </a>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="addStabilityLink" data-id="@Model[i].StabilityId"> + </a>
                        </td>
                    </tr>
                }                
            </table>
        </div>
        <table class="hidden">
            <tr id="templateRowEdit">
                <td>
                    @Html.DropDownList("[index].TempRange.TempRangeId", (SelectList)ViewBag.TempRangesList, "-- Select --", new { @class = "form-control" })
                </td>
                <td>
                    <input class="form-control" data-val="true"
                           data-val-number="The field Allowed Time in Minutes must be a number."
                           data-val-required="The Allowed Time in Minutes field is required."
                           name="[index].AllowedTimeInMinutes" type="text" value="">
                    <input data-val="true" data-val-required="The StabilityId field is required."
                           name="[index].StabilityId" type="hidden" value="@Guid.Empty">
                </td>
                <td>

                    <a href="javascript:void(0);" class="deleteStabilityLink" data-id="@Model.FirstOrDefault().ProductId"> - </a>
                </td>
                <td>

                    <a href="javascript:void(0);" class="addStabilityLink" data-id="@Model.FirstOrDefault().ProductId"> + </a>
                </td>
            </tr>            
        </table>

        <div class="panel-footer text-center msgbox hidden">
        </div>
        <div class="panel-footer text-center">
            <button type="button" id="btnClose">Close</button>
            <button type="submit" class="btn-default">Submit</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#btnClose").on("click", function () {
            $('#myModal').modal('hide');
        });
    });

    $(".addStabilityLink").click(function () {
        console.log("add new row clicked");
        var $buttonClicked = $(this);
        debugger;
        var lastRowIndex = $("table.tblStabilityInfo tr:last").index();
        var newRow = $("#templateRowEdit").clone().removeAttr("id");
        $(newRow).find("input, select").each(function () {
            console.log("each tr input");
            inputName = $(this).attr("name").replace("index", lastRowIndex);
            $(this).attr("name", inputName);
        });
        //newRow = $(newRow).html().replace(/[index]/, '[' + lastRowIndex + ']');
        $(newRow).appendTo($("#templateRowNew").parent());
        $(newRow).insertAfter($($buttonClicked).parent().parent());

    });

    $(".btnSave").click(function () {
        $("#templateRowNew").clone().removeAttr("id").appendTo($("#templateRowNew").parent());                    
    }); 

    $(".btnCancel").click(function () {
        var $buttonClicked = $(this);
        $($buttonClicked).closest("tr").remove();
    });

    $(".deleteStabilityLink").click(function () {
        //debugger;
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');
        var stringId = JSON.stringify({'id': id});
        console.log("JSON.stringify(id)=" + stringId)
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "POST",
            url: StabilityDeleteURL,
            contentType: "application/json; charset=utf-8",
            //contentType: "text/html; charset=utf-8",
            data: stringId ,
            //datatype: "html",
            success: function (data) {
                //debugger;
                //$('#myModalContent').html(data);
                //$('#myModal').modal(options);
                $('#msgbox').show();
                $($buttonClicked).closest("tr").remove();
                //setTimeout($('#msgbox').hide(), 3000);
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    });
</script>