@model BlockChainSI.Models.BatchOwnershipHistoryViewModel



@using (Html.BeginForm("edit", "Ownership", FormMethod.Post, new { Id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close ×</button>
            <h4 class="modal-title" id="myModalLabel">Track Batch</h4>
        </div>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="Id" value="@Model.Id" />

        @if (string.IsNullOrEmpty(Model.BatchCode))
        {
        <div class="form-group">
            @Html.LabelFor(model => model.BatchCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BatchCode, Model.BatchList, Model.BatchCode, new { @class = "form-control" }) 
                <div>
                    <small>
                        <i>*Only untracked Batches are listed, use Change Tracker option for Batches already tracked.</i>
                    </small>
                </div>
                @Html.ValidationMessageFor(model => model.BatchCode, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p class="form-control-static">@Html.DisplayFor(model => model.Batch.Description)</p>
                    @Html.HiddenFor(model => model.BatchCode)
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OwnerCode, Model.OwnerList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OwnerCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="panel-footer text-center">
            <button type="button" id="btnClose" class="btn">Close</button>
            <input type="submit" value="Save" class="btn btn-default btn-primary btnSave" />
            <div id="loadingDiv" class="modal loader" style="display: none;">
                <center>
                    <img class="loading-image" src="~/content/images/ajax-loader.gif" alt="loading..">
                </center>
            </div>
            <div class="validation-summary-errors hidden errors">
            </div>
        </div>

    </div>
}

@Scripts.Render("~/bundles/partialjs")