@model IEnumerable<BlockChainSI.Models.ProductViewModel>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product</h2>

<p>
    <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("Edit", "Product")">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductShortCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDesc)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductShortCode)
            @Html.HiddenFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDesc)
        </td>
        <td>
            <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("edit", "Product")" data-id="@item.ProductId">Edit</a>  |
            <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("delete", "Product")" data-id="@item.ProductId">Delete</a>
        </td>
        <td>
            <a href="javascript:void(0);" class="editLink badge" data-url="@Url.Action("StabilityList", "Stability")" data-id="@item.ProductId">Stability Details</a>              
        </td>
    </tr>
}
</table>