@model IEnumerable<BlockChainSI.Models.LoggerViewModel>

@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Temperature</h2>

<p>
    <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("Edit", "Logger")">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TempLogger)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Batch)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.RecordDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationInMins)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TempLogger.TempLoggerNo) -
            @Html.DisplayFor(modelItem => item.TempLogger.TempLoggerShortName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Batch.BatchNumber) - 
            @Html.DisplayFor(modelItem => item.Batch.BatchDesc)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.RecordDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempRange.TempRangeCode) 
            :
            @Html.DisplayFor(modelItem => item.TempRange.TempRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationInMins)
        </td>
        <td>
            <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("edit", "Logger")" data-id="@item.LoggerId">Edit</a>  |
            <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("delete", "Logger")" data-id="@item.LoggerId">Delete</a>
        </td>
    </tr>
}

</table>
