@model BlockChainSI.Models.TemparatureTelemetryViewModel


@using (Html.BeginForm("edit", "TempTelemetry", FormMethod.Post, new { Id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close ×</button>
            <h4 class="modal-title" id="myModalLabel">Temparature Telemetry</h4>
        </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.BatchCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BatchCode, Model.BatchList, new { @class = "form-control" } )
                    <div>
                        <small>
                            <i>*Only Batches that are not yet expired are listed here.</i>
                        </small>
                    </div>
                    @Html.ValidationMessageFor(model => model.BatchCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Temperature, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Temperature, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Temperature, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.LogTime)


            <div class="panel-footer text-center">
                <button type="button" id="btnClose" class="btn">Close</button>
                <input type="submit" value="Save" class="btn btn-default btn-primary btnSave" />
                <div id="loadingDiv" class="modal loader" style="display: none;">
                    <center>
                        <img class="loading-image" src="~/content/images/ajax-loader.gif" alt="loading..">
                    </center>
                </div>
                <div class="validation-summary-errors hidden errors">
                </div>
            </div>
        </div>
        }

        @Scripts.Render("~/bundles/partialjs")
