@model IEnumerable<BlockchainHOT.Models.BatchViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Batch Details</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table id="tblBatch" align="center"></table>
<div id="pgBatch"></div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BatchId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BatchId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BatchId })
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4">
                    <table width="100%">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StabilityDetails.FirstOrDefault().FromTemp)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StabilityDetails.FirstOrDefault().ToTemp)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StabilityDetails.FirstOrDefault().AllowedTimeInMinutes)
                            </th>
                            <th></th>
                        </tr>
                    @foreach (var stability in item.StabilityDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => stability.FromTemp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => stability.ToTemp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => stability.AllowedTimeInMinutes)
                            </td>
                            <td>
                                @Html.ActionLink("+", "Edit", new { id = item.BatchId }) |
                                @Html.ActionLink("-", "Delete", new { id = item.BatchId })
                            </td>
                        </tr>
                    }
                    </table>
                </td>
            </tr>
        }
    }
</table>*@
