@model IEnumerable<BlockChainSI.Models.MapperViewModel>

@{
    ViewBag.Title = "Mapper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Batch to Device Mapping</h2>

<p>
    <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("Edit", "Mapper")">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Batch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempLogger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Batch.BatchNumber) -
            @Html.DisplayFor(modelItem => item.Batch.BatchDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempLogger.TempLoggerNo) - 
            @Html.DisplayFor(modelItem => item.TempLogger.TempLoggerShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("edit", "Mapper")" data-id="@item.MapId">Edit</a>  |
            <a href="javascript:void(0);" class="editLink" data-url="@Url.Action("delete", "Mapper")" data-id="@item.MapId">Delete</a>
        </td>
    </tr>
}

</table>
